<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fast - API page</title>
</head>
<body>
    
    <h1>
        this is the API page of the fast project
        
    </h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore rem cum hic, necessitatibus ad praesentium sed reiciendis nulla quis laborum est! Delectus impedit odit ratione quaerat, voluptatem mollitia maiores? Quas.</p>

<img src="https://unsplash.com/photos/a-silhouette-stands-inside-an-orange-lit-window-dSJtPdmM1-g" alt="3D Render" style="width: 400px;">

</body>
</html>